/*
Colors set by Global Styles:
	--wp--preset--color--base: #fff;
	--wp--preset--color--base-2: #dce0e4;
	--wp--preset--color--contrast: #0f3236;
	--wp--preset--color--contrast-2: #49595b;
	--wp--preset--color--contrast-3: #808992;
	--wp--preset--color--accent: #ff4832;
	--wp--preset--color--accent-2: #0f6d55;
	--wp--preset--color--accent-3: #65b8aa;
	--wp--preset--color--accent-4: #085357;
	--wp--preset--color--accent-5: #c35140;
	--wp--preset--color--custom-accent-six: #9fc5bb;
	--wp--preset--color--custom-base-three: #dae5e6;
	--wp--preset--color--custom-accent-seven: #fe917f;
	--wp--preset--color--custom-accent-eight: #ffc8bf;

Font variable:
	--wp--preset--font-family--inclusive-sans: "Inclusive Sans", sans-serif;

	--wp--preset--font-size--small: 0.9rem;
	--wp--preset--font-size--medium: 1.05rem;
	--wp--preset--font-size--large: clamp(1.39rem, 1.39rem + ((1vw - 0.2rem) * 0.767), 1.85rem);
	--wp--preset--font-size--x-large: clamp(1.85rem, 1.85rem + ((1vw - 0.2rem) * 1.083), 2.5rem);
	--wp--preset--font-size--xx-large: clamp(2.5rem, 2.5rem + ((1vw - 0.2rem) * 1.283), 3.27rem);

Spacing variables:
	--wp--preset--spacing--10: 1rem;
	--wp--preset--spacing--20: min(1.5rem, 2vw);
	--wp--preset--spacing--30: min(2.5rem, 3vw);
	--wp--preset--spacing--40: min(4rem, 5vw);
	--wp--preset--spacing--50: min(6.5rem, 8vw);
	--wp--preset--spacing--60: min(10.5rem, 13vw);
*/

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

caption,
figcaption,
p,
ul,
ol,
blockquote {
	text-wrap: pretty;
}

/* Add default focus style. */

a:focus,
button:focus,
.wp-element-button:focus,
.wp-block-button__link:focus,
.wp-block-details summary:focus,
input:focus,
input:focus-visible,
select:focus,
textarea:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	outline-color: var(--wp--preset--color--contrast-2);
	outline-offset: 2px;
	outline-style: dashed;
	outline-width: 1px;
}

.has-base-color > :is(a:focus,button:focus,.wp-element-button:focus,.wp-block-button__link:focus,.wp-block-details summary:focus,input:focus,input:focus-visible,select:focus,textarea:focus,input[type="submit"]:focus,input[type="button"]:focus,input[type="reset"]:focus) {
		outline-color: var(--wp--preset--color--base);
	}

a:focus,
button:focus,
.wp-element-button:focus,
.wp-block-button__link:focus,
.wp-block-details summary:focus {
	border-radius: 2px;
}

.wp-block-file:not(.wp-element-button) {
	font-size: inherit;
}

/* Style default form elements */

input[type="submit"],
input[type="button"],
input[type="reset"] {
	border: none;
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
	font-family: var(--wp--preset--font-family--inclusive-sans);
	font-size: var(--wp--preset--font-size--medium);
	font-style: normal;
	font-weight: 500;
	line-height: inherit;
	border-radius: 0;
	padding-top: var(--wp--preset--spacing--10);
	padding-right: var(--wp--preset--spacing--30);
	padding-bottom: var(--wp--preset--spacing--10);
	padding-left: var(--wp--preset--spacing--30);
}

:is(input[type="submit"],input[type="button"],input[type="reset"]):hover {
		background-color: var(--wp--preset--color--contrast-2);
		color: var(--wp--preset--color--base);
	}

:is(input[type="submit"],input[type="button"],input[type="reset"]):focus {
		background-color: var(--wp--preset--color--contrast-2);
		border-color: var(--wp--preset--color--contrast-2);
		color: var(--wp--preset--color--base);
	}

:is(input[type="submit"],input[type="button"],input[type="reset"]):active {
		background-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base);
	}

/* Jetpack Form overrides */

:is(.contact-form .grunion-checkbox-multiple-options,.contact-form .grunion-radio-options) p.contact-form-field {
		margin: 0;
	}

:is(.contact-form .grunion-field-select-wrap) select {
		width: 100%;
	}

:is(.contact-form .grunion-field-checkbox-wrap) .contact-form__checkbox-wrap {
		display: flex;
		align-items: flex-start;
	}

:is(:is(.contact-form .grunion-field-checkbox-wrap) .contact-form__checkbox-wrap) input {
			flex: 0;
			margin-block-start: 0.5em;
		}

:is(:is(.contact-form .grunion-field-checkbox-wrap) .contact-form__checkbox-wrap) label {
			line-height: inherit;
		}

.contact-form label span.grunion-label-required {
	opacity: 0.9 !important;
	color: var(--wp--preset--color--contrast-2);
}

:where(.wp-block-jetpack-button) .wp-block-button__link {
	height: auto;
}

/* Block overrides */

.wp-block-post-title {
	text-wrap: balance;
	overflow-wrap: initial;
	word-break: initial;
}

.wp-block-site-title a:where(:not(.wp-element-button)):hover {
	text-decoration: underline;
}

.wp-block-image a {
	display: inline-block;
}

/* Style the details block better */

.wp-block-details {
	width: 100%;
}

.wp-block-details summary {
		padding-inline: var(--wp--preset--spacing--20);
	}

@media (max-width: 999px) {

	#subscribe .wp-block-columns {
		flex-wrap: wrap !important;
	}

	#subscribe .wp-block-columns .wp-block-column {
		flex-basis: 100% !important;
	}
}

@media (max-width: 781px) {

	/* Image links on homepage */
	.image-links {
		flex-wrap: wrap !important;
	}

		.image-links img {
			max-width: 180px !important;
		}

	footer.wp-block-template-part .wp-block-columns .wp-block-group {
		justify-content: flex-start;
	}
}

body.home footer.wp-block-template-part {
	margin-top: 0 !important;
}

/* Fix submenu alignment */

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
	margin-block-start: 6px;
}

/* Fix submenu focus spacing */

.wp-block-navigation .wp-block-navigation__submenu-container a:focus,
.wp-block-navigation__responsive-container.is-menu-open button:focus,
.wp-block-navigation__responsive-container.is-menu-open li:not(.is-style-highlight) a:focus {
	outline-offset: -2px;
}

/* Add navigation highlight style */

.is-style-highlight a {
	border: 2px solid var(--wp--preset--color--accent);
	background: var(--wp--preset--color--custom-accent-eight) !important;
	color: inherit !important;
	padding-inline: 1rem;
	padding-block: 0.25rem;
	border-radius: 0.2rem;
}

:is(.is-style-highlight a):hover,:is(.is-style-highlight a):focus {
		background: var(--wp--preset--color--custom-accent-seven) !important;
	}

@media (max-width: 960px) and (min-width: 600px) {

	header.wp-block-template-part .wp-block-group-is-layout-flex {
		flex-direction: column;
	}

	.wp-block-navigation.items-justified-right .wp-block-navigation__container .has-child .wp-block-navigation__submenu-container,
	.wp-block-navigation.items-justified-right .wp-block-page-list > .has-child .wp-block-navigation__submenu-container,
	.wp-block-navigation.items-justified-space-between .wp-block-page-list > .has-child:last-child .wp-block-navigation__submenu-container,
	.wp-block-navigation.items-justified-space-between > .wp-block-navigation__container > .has-child:last-child .wp-block-navigation__submenu-container {
		right: auto;
		left: 0;
	}
}

@media (max-width: 599px) {

		:is(.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content) .wp-block-navigation__container,:is(.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content) .wp-block-navigation__submenu-container {
			gap: 0;
		}

		:is(.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content) .has-child .wp-block-navigation__submenu-container {
			margin-block: 0 0.75rem;
			margin-inline: 0.75rem;
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
			border-right: 2px solid var(--wp--preset--color--custom-accent-six);
		}

		:is(.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content) .wp-block-navigation-item__content {
			padding: 0.5rem 0.75rem;
		}
}

#tix-attendees {
	font-size: var(--wp--preset--font-size--small);
}

#tix-attendees ul {
		padding: 0;
	}

:is(#tix-attendees ul) li {
			margin-bottom: 2rem;
		}

@media (min-width: 400px) {

#tix-attendees ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem 2rem;
	}

			:is(#tix-attendees ul) li {
				margin-bottom: 0;
			}
		}

@media (min-width: 600px) {

#tix-attendees ul {
			grid-template-columns: repeat(3, 1fr);
	}
		}

@media (min-width: 960px) {

#tix-attendees ul {
			grid-template-columns: repeat(4, 1fr);
	}
		}

#tix-attendees li {
		margin: 0;
		height: auto;
		width: auto !important;
		float: none;
		position: relative;
		overflow: hidden;
	}

:is(#tix-attendees li)::before {
			content: "";
			display: inline-block;
			position: absolute;
			inset: 0;
			margin: 0 auto;
			height: 96px;
			width: 96px;
			z-index: -1;
			background-image: url(https://us.wordcamp.org/2024/files/2024/04/generic.png);
			background-size: contain;
		}

#tix-attendees .avatar {
		margin: 0 auto 0.5rem;
		height: auto;
		width: auto;
		float: none;
		display: block;
	}

#tix-attendees .tix-field {
		margin-left: 0;
		font-size: inherit;
		width: auto;
		text-align: center;
	}

#tix-attendees .tix-attendee-name {
		display: none;
	}

#tix-attendees .tix-attendee-url {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

#tix-attendees .tix-wordpress-org-profile-url:has( + .tix-company-or-personal-website) {
		display: none;
	}

:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-post-template-is-layout-grid {
		gap: var(--wp--preset--spacing--40);
	}

@media (max-width: 960px) {

.columns-4:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-post-template-is-layout-grid) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
		}
			}

@media (max-width: 740px) {

.columns-3:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-post-template-is-layout-grid) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
		}
			}

:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-post-content {
		font-size: var(--wp--preset--font-size--medium);
		word-wrap: break-word;
	}

:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-read-more {
		text-decoration: underline;
	}

:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-read-more):hover,:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-read-more):active {
			text-decoration: none;
		}

:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-read-more):focus {
			-webkit-text-decoration: underline dashed;
			        text-decoration: underline dashed;
		}

:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-read-more) .screen-reader-text,:is(:is(body.page-slug-organizers,body.page-slug-speakers) .wp-block-read-more) ~ * {
			display: none;
		}

:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-wordcamp-avatar {
		max-width: 100%;
		height: auto !important;
		width: auto !important;
		overflow: hidden;
		position: relative;
	}

:is(:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-wordcamp-avatar) img {
			vertical-align: middle;
			height: auto;
		}

:is(:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-wordcamp-avatar)::before {
			content: "";
			background-image: url(https://us.wordcamp.org/2024/files/2024/04/generic.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
		}

:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms a[href$="/team/organizers/"],:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms a[href$="/team/organizers/"] + .wp-block-post-terms__separator,:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms .wp-block-post-terms__separator:last-of-type:has( + a[href$="/team/organizers/"]),:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms a[href$="/team/lead-organizing-team/"],:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms a[href$="/team/lead-organizing-team/"] + .wp-block-post-terms__separator,:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms .wp-block-post-terms__separator:last-of-type:has( + a[href$="/team/lead-organizing-team/"]),:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms a[href$="/team/team-leads/"],:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms a[href$="/team/team-leads/"] + .wp-block-post-terms__separator,:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wp-block-post-terms .wp-block-post-terms__separator:last-of-type:has( + a[href$="/team/team-leads/"]) {
		display: none;
	}

:is(.wp-block-query .wcb_organizer,body.single-wcb_organizer,body.page-slug-organizers) .wcb_organizer_team-team-leads .wp-block-wordcamp-avatar::after {
		content: "Team Lead";
		position: absolute;
		top: 5px;
		left: 5px;
		padding: 4px 12px;
		color: var(--wp--preset--color--accent-4);
		background-color: var(--wp--preset--color--white);
		background-image: url(https://wc-us.org/wp-content/uploads/2024/02/topography-dark.svg);
		background-size: 400px auto;
	}

body.single-wcb_organizer .wp-block-post-content .wp-block-read-more {
		display: none;
	}

:is(.wp-block-query .wcb_speaker,body.page-slug-speakers,body.single-wcb_speaker) .wp-block-wordcamp-avatar {
		max-width: 100%;
		height: auto !important;
		overflow: hidden;
		position: relative;
	}

:is(:is(.wp-block-query .wcb_speaker,body.page-slug-speakers,body.single-wcb_speaker) .wp-block-wordcamp-avatar) img {
			display: block;
			vertical-align: middle;
			object-fit: cover;
			width: 100%;
		}

:is(:is(.wp-block-query .wcb_speaker,body.page-slug-speakers,body.single-wcb_speaker) .wp-block-wordcamp-avatar)::before {
			content: "";
			background-image: url(https://us.wordcamp.org/2024/files/2024/04/generic.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
		}

.is-style-rounded:is(:is(.wp-block-query .wcb_speaker,body.page-slug-speakers,body.single-wcb_speaker) .wp-block-wordcamp-avatar)::before {
			border-radius: 50%;
		}

/* stylelint-disable selector-id-pattern */

body.single-wcb_session .wp-block-post-terms {
		font-size: inherit;
	}

:is(body.single-wcb_session .wp-block-post-terms) .wp-block-post-terms__prefix {
			color: inherit;
		}

:is(body.single-wcb_session .wp-block-post-terms) a {
			text-decoration: underline;
		}

:is(:is(body.single-wcb_session .wp-block-post-terms) a):hover {
				text-decoration: none;
			}

/* Specificity hack */

.wordcamp-schedule:not(#hack) .wordcamp-schedule__date {
		display: none;
	}

.wordcamp-schedule:not(#hack) a:where(:not(.wp-element-button)) {
		color: var(--wp--preset--color--accent-2);
	}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__day {
		background-color: var(--wp--preset--color--base);
	}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__session,.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
		padding: 1.5rem;
		outline: 1px solid var(--wp--preset--color--accent-3);
		box-shadow: none;
	}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__column-header {
		position: sticky;
		top: var(--wp-admin--admin-bar--height, 0);
		margin: 0;
		font-size: 1em;
		font-weight: 400;
		background-color: var(--wp--preset--color--accent-3);
		outline: 1px solid var(--wp--preset--color--contrast);
		box-shadow: none;
	}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
		font-size: 1em;
		text-align: revert;
	}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__session {
		font-size: inherit;
		position: relative;
		background: var(--wp--preset--color--base);
	}

:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) > * {
			margin: 0;
		}

:is(:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) > *) + * {
				margin-top: 0.5rem;
			}

.is-spanning-some-tracks:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) {
			text-align: inherit;
		}

:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):where(.is-type-session):hover,:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):where(.is-type-session):focus-within {

			/* Override other states. */
			background: var(--wp--preset--color--base-2) !important;
			color: var(--wp--preset--color--contrast) !important;
		}

:is(:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):where(.is-type-session):hover,:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):where(.is-type-session):focus-within) a:where(:not(.wp-element-button)) {
				color: var(--wp--preset--color--accent-2) !important;
			}

:is(:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):where(.is-type-session):hover,:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):where(.is-type-session):focus-within):not(.wcb-favourite-session) .wcb-session-favourite-icon a {
				background-image: url(https://wc-us.org/wp-content/uploads/2024/07/star-outline.svg);
			}

:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) .wcb-session-favourite-icon {
			font-size: 16px;
		}

:is(:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) .wcb-session-favourite-icon) a {
				display: block;
				height: 24px;
				width: 24px;
				background-image: url(https://wc-us.org/wp-content/uploads/2024/07/star-outline.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 32px 32px;
			}

:is(:is(:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) .wcb-session-favourite-icon) a) .dashicon {
					display: none;
				}

.wcb-favourite-session:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) {
			outline: 5px solid var(--wp--preset--color--accent);
			outline-offset: -5px;
		}

.wcb-favourite-session:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session) .wcb-session-favourite-icon a {
				background-image: url(https://wc-us.org/wp-content/uploads/2024/07/star-filled.svg);
			}

:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before {
			display: inline-block;
			margin-block-end: 0.5rem;
			padding: 0 10px;
			background: var(--wp--preset--color--accent-3);
			border: 1px solid var(--wp--preset--color--contrast);
			font-size: 1em;
		}

.is-spanning-all-tracks:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session):not(.is-type-custom,.has-track-5-campfire)::before,.has-slug-opening-remarks:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before,.has-slug-opening-remarks-2:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before,.has-slug-closing-announcements:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before {
			content: "Mt. Hood (Oregon Ballroom)";
		}

.has-track-5-campfire:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before {
			content: "WordCamp US Lounge";
		}

.has-slug-networking:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before {
			content: "Sponsor Hall" !important;
		}

.has-slug-wcus-group-photo:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session)::before {
			content: "Pre-Function A" !important;
		}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-title {
		display: revert;
		padding-inline-end: 26px;
		font-size: 1.3125rem;
		font-style: normal;
		line-height: 1.25;
	}

:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-title) .wcb-session-favourite-icon {
			position: absolute;
			inset: 1.5rem 1.5rem auto auto;
		}

:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-title) > a {
			display: inline-block;
		}

:is(:is(.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-title) > a)::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 0;
			}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-speakers a {
		position: relative;
		z-index: 1;
	}

.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-category {
		color: inherit;
		font-style: normal;
	}

/* Showcase day ID */

.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49 {
		background-color: var(--wp--preset--color--contrast);
	}

:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__column-header,:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__time-slot-header {
			background-color: var(--wp--preset--color--contrast);
			outline: 1px solid var(--wp--preset--color--accent-2);
			color: var(--wp--preset--color--base);
		}

:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session {
			background: var(--wp--preset--color--contrast);
			color: var(--wp--preset--color--accent-3);
			outline: 1px solid var(--wp--preset--color--accent-2);
		}

:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session) .wordcamp-schedule__session-title,:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session) a:where(:not(.wp-element-button)) {
				color: var(--wp--preset--color--base);
			}

:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session) .wordcamp-schedule__session-category {
				display: none;
			}

.wcb-favourite-session:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session) {
				outline: 5px solid var(--wp--preset--color--accent);
				outline-offset: -5px;
			}

.wcb-favourite-session:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session) .wcb-session-favourite-icon a {
					background-image: url(https://wc-us.org/wp-content/uploads/2024/07/star-filled.svg);
				}

:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session) .wcb-session-favourite-icon a {
				background-image: url(https://wc-us.org/wp-content/uploads/2024/07/star-outline-light.svg);
			}

:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session):where(.is-type-session):hover,:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session):where(.is-type-session):focus-within {
				background: #05191d !important;
				color: var(--wp--preset--color--accent-3) !important;
			}

:is(:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session):where(.is-type-session):hover,:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session):where(.is-type-session):focus-within) a:where(:not(.wp-element-button)) {
					color: var(--wp--preset--color--base) !important;
				}

:is(:is(.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2023-08-25-tracks-all,.wordcamp-schedule:not(#hack) #wordcamp-schedule__day-2024-09-18-tracks-48-47-49) .wordcamp-schedule__session)::before {
				background-color: var(--wp--preset--color--contrast);
				border: 1px solid var(--wp--preset--color--accent-2);
			}

@media (max-width: 1000px) {

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__day {
			display: revert;
			border-bottom: none;
		}

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__column-header {
			display: none;
		}

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__session,.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
			box-shadow: none;
		}

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
			position: sticky;
			top: var(--wp-admin--admin-bar--height, 0);
			z-index: 10;
			padding-block: 0.5rem;
			font-size: 1em;
			background-color: var(--wp--preset--color--base-2);
		}

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__session::before {
			display: inline-block;
			margin-block-end: 4px;
			font-size: 1em;
		}

		.wordcamp-schedule:not(#hack) .has-track-1-rose-city::before {
			content: "Rose City (A105 - A106)";
		}

		.wordcamp-schedule:not(#hack) .has-track-2-stumptown::before {
			content: "Stumptown (B113 - B116)";
		}

		.wordcamp-schedule:not(#hack) .has-track-3-timbers::before {
			content: "Timbers (C123 - C124)";
		}

		.wordcamp-schedule:not(#hack) .has-slug-opening-remarks::before,.wordcamp-schedule:not(#hack) .has-slug-closing-announcements::before,.wordcamp-schedule:not(#hack) .is-spanning-all-tracks::before {
			content: "Mt. Hood (Oregon Ballroom)";
		}

		.wordcamp-schedule.has-track-5-campfire:not(#hack)::before {
			content: "WordCamp US Lounge";
		}

		.wordcamp-schedule:not(#hack) .is-spanning-all-tracks.is-type-custom::before {
			content: "All tracks" !important;
		}
	}

@media (max-width: 600px) {

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
			top: 0;
		}
	}

@media (max-width: 549px) {

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__session,.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
			border: none;
		}

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__time-slot-header {
			margin-top: 0;
		}

		.wordcamp-schedule:not(#hack) .wordcamp-schedule__session-tracks {
			display: none;
		}
	}

/* Session query loop on sessions page */

:is(.wp-block-query .wp-block-post.type-wcb_session)::before {
		display: inline-block;
		margin-block-end: 0.5rem;
		padding: 0 10px;
		background: var(--wp--preset--color--accent-3);
		border: 1px solid var(--wp--preset--color--contrast);
		font-size: 1em;
	}

.wcb_session_category-keynote:is(.wp-block-query .wp-block-post.type-wcb_session)::before {
		content: "Keynote";
	}

.wcb_session_category-showcase:is(.wp-block-query .wp-block-post.type-wcb_session)::before {
		background-color: var(--wp--preset--color--accent-4);
		border: 1px solid #b4d9d1;
		color: #b4d9d1;
		content: "Showcase";
	}

.wcb_session_category-showcase.wcb_session_category-keynote:is(.wp-block-query .wp-block-post.type-wcb_session)::before {
		content: "Showcase keynote";
	}

.wcb_session_category-campfire:is(.wp-block-query .wp-block-post.type-wcb_session)::before {
		background-color: var(--wp--preset--color--base);
		border: 1px solid var(--wp--preset--color--accent-5);
		color: var(--wp--preset--color--accent-5);
		content: "Campfire";
	}

/* Tickets form */

#tix .tix-ticket-form,#tix .tix-tickets-list,#tix .tix-order-summary,#tix .tix-submit,#tix .tix-attendee-form {
		width: 100%;
	}

#tix .tix-ticket-form,#tix .tix-tickets-list,#tix .tix-order-summary {
		border-spacing: 0;
		border-collapse: collapse;
	}

:is(#tix .tix-ticket-form,#tix .tix-tickets-list,#tix .tix-order-summary) thead th {
			border-bottom: 2px dashed var(--wp--preset--color--accent-3);
		}

:is(#tix .tix-ticket-form,#tix .tix-tickets-list,#tix .tix-order-summary) th,:is(#tix .tix-ticket-form,#tix .tix-tickets-list,#tix .tix-order-summary) td {
			padding: 1em 0.5em;
		}

:is(#tix .tix-attendee-form),:is(#tix .tix-attendee-form) tr,:is(#tix .tix-attendee-form) td,:is(#tix .tix-attendee-form) th {
			display: block;
			width: 100%;
		}

:is(#tix .tix-attendee-form) .tix-left {
			padding-bottom: 0;
			margin-bottom: 0.25rem;
		}

:is(#tix .tix-attendee-form) .tix-right {
			padding-left: 0;
		}

:is(#tix .tix-attendee-form) input[type="text"],:is(#tix .tix-attendee-form) input[type="email"],:is(#tix .tix-attendee-form) input[type="url"],:is(#tix .tix-attendee-form) textarea {
			width: 100%;
			box-sizing: border-box;
		}

:is(#tix .tix-attendee-form) fieldset {
			margin-top: 0.5rem;
		}

:is(#tix .tix-attendee-form) fieldset label {
			display: inline-block;
			margin-bottom: 0.5em;
			font-size: 1rem;
			vertical-align: middle;
		}

:is(:is(#tix .tix-attendee-form) fieldset label) input {
				margin-right: 0.5rem;
			}

@media (max-width: 600px) {

:is(#tix .tix-attendee-form) fieldset label {
				font-size: inherit;
		}
			}

#tix .tix-submit {
		float: none;
		margin: var(--wp--preset--spacing--30) auto var(--wp--preset--spacing--50);
	}

#tix .tix-submit .tix-checkout-button {
		text-transform: none;
		letter-spacing: 0;
		border-radius: 2px;
		padding: 0.5rem 1rem;
		background: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base);
		font-size: 1.125rem;
		font-family: var(--wp--preset--font-family--inclusive-sans);
	}

:is(#tix .tix-submit .tix-checkout-button):hover,:is(#tix .tix-submit .tix-checkout-button):focus {
			background: var(--wp--preset--color--contrast-2);
		}

.tix-column-price,
.tix-column-per-ticket,
.tix-column-quantity,
.tix-row-total {
	text-align: right;
}

.tix-column-remaining {
	display: none;
}

:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) input[type="text"],:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) input[type="email"],:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) input[type="url"],:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) textarea {
		padding: 0.5em;
	}

:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) select {
		padding: 0.5em;
	}

:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) tr > * {
		padding-bottom: 1em;
	}

:is(.tix-ticket-form,.tix-private-form,.tix-attendee-form,.tix-receipt-form) .tix-right {
		padding-left: 2em;
	}

.tix-row-coupon td {
	padding-inline: 0;
}

#tix-coupon-container[style*="block"] {
	display: flex !important;
	justify-content: flex-end;
}

#tix-coupon-container[style*="block"] input[type="text"] {
		flex: 1;
		font-size: var(--wp--preset--font-size--small);
	}

#tix-coupon-container[style*="block"] input[type="submit"] {
		padding-block: calc(var(--wp--preset--spacing--10) / 2);
		font-size: var(--wp--preset--font-size--small);
	}

/* Badge name question */

#tix_attendee_questions-1-542 { /* stylelint-disable-line selector-id-pattern */
	max-width: 25ch;
}
